# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [49]:
import pandas as pd
import numpy as np

# Seu código aqui
data = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

pd.Series(data=data)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [50]:
# seu código aqui
index = [1900,1920,1940,1960,1980,2000,2020]

pd.Series(data=data,index=index)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [51]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [52]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
arr_df = pd.DataFrame(arr)
arr_df

             0           1           2
0   103.399421   99.131117  106.035786
1   109.876580  100.503672  104.543150
2    76.252586   94.077216   96.208194
3   120.173334  117.433059   94.222416
4   100.857715   96.589862  105.672914
5   112.330891   95.957500   95.761443
6   101.174212  105.028528  114.296337
7   100.027346  102.717011  108.377814
8    95.794657   99.110320   91.656453
9    91.072496  106.579444   86.942934
10  110.835448  114.035401   91.780321
11   96.514765  104.338460   91.163686
12   85.663033   87.034384  100.096960
13  113.649753   95.919462  115.267304
14   88.663713   99.333084  103.073176
15   98.018677   92.124663   82.122634
16   89.823033  103.741364   99.817192
17   85.515162  108.194383  104.652973
18   84.404455   94.920257  103.180634
19  115.555253   98.634811  110.946369

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [53]:
#seu código aqui
arr_index = []
arr_columns = ['x1','x2','x3']

for i in range(1,21):
    arr_index.append(str(i))


arr_df.index = arr_index
arr_df.columns = arr_columns
arr_df

            x1          x2          x3
1   103.399421   99.131117  106.035786
2   109.876580  100.503672  104.543150
3    76.252586   94.077216   96.208194
4   120.173334  117.433059   94.222416
5   100.857715   96.589862  105.672914
6   112.330891   95.957500   95.761443
7   101.174212  105.028528  114.296337
8   100.027346  102.717011  108.377814
9    95.794657   99.110320   91.656453
10   91.072496  106.579444   86.942934
11  110.835448  114.035401   91.780321
12   96.514765  104.338460   91.163686
13   85.663033   87.034384  100.096960
14  113.649753   95.919462  115.267304
15   88.663713   99.333084  103.073176
16   98.018677   92.124663   82.122634
17   89.823033  103.741364   99.817192
18   85.515162  108.194383  104.652973
19   84.404455   94.920257  103.180634
20  115.555253   98.634811  110.946369

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [54]:
# seu código aqui
arr_df['media'] = round((arr_df['x1'] + arr_df['x2'] + arr_df['x3']) / 3,2)
arr_df

            x1          x2          x3   media
1   103.399421   99.131117  106.035786  102.86
2   109.876580  100.503672  104.543150  104.97
3    76.252586   94.077216   96.208194   88.85
4   120.173334  117.433059   94.222416  110.61
5   100.857715   96.589862  105.672914  101.04
6   112.330891   95.957500   95.761443  101.35
7   101.174212  105.028528  114.296337  106.83
8   100.027346  102.717011  108.377814  103.71
9    95.794657   99.110320   91.656453   95.52
10   91.072496  106.579444   86.942934   94.86
11  110.835448  114.035401   91.780321  105.55
12   96.514765  104.338460   91.163686   97.34
13   85.663033   87.034384  100.096960   90.93
14  113.649753   95.919462  115.267304  108.28
15   88.663713   99.333084  103.073176   97.02
16   98.018677   92.124663   82.122634   90.76
17   89.823033  103.741364   99.817192   97.79
18   85.515162  108.194383  104.652973   99.45
19   84.404455   94.920257  103.180634   94.17
20  115.555253   98.634811  110.946369  108.38

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [55]:
# seu código aqui
arr_df['log_med'] = np.log(arr_df['media'])
arr_df

            x1          x2          x3   media   log_med
1   103.399421   99.131117  106.035786  102.86  4.633369
2   109.876580  100.503672  104.543150  104.97  4.653675
3    76.252586   94.077216   96.208194   88.85  4.486950
4   120.173334  117.433059   94.222416  110.61  4.706011
5   100.857715   96.589862  105.672914  101.04  4.615516
6   112.330891   95.957500   95.761443  101.35  4.618580
7   101.174212  105.028528  114.296337  106.83  4.671239
8   100.027346  102.717011  108.377814  103.71  4.641599
9    95.794657   99.110320   91.656453   95.52  4.559336
10   91.072496  106.579444   86.942934   94.86  4.552402
11  110.835448  114.035401   91.780321  105.55  4.659185
12   96.514765  104.338460   91.163686   97.34  4.578210
13   85.663033   87.034384  100.096960   90.93  4.510090
14  113.649753   95.919462  115.267304  108.28  4.684720
15   88.663713   99.333084  103.073176   97.02  4.574917
16   98.018677   92.124663   82.122634   90.76  4.508219
17   89.823033  103.741364   99.817192   97.79  4.582822
18   85.515162  108.194383  104.652973   99.45  4.599655
19   84.404455   94.920257  103.180634   94.17  4.545102
20  115.555253   98.634811  110.946369  108.38  4.685644